.pedido
	position fixed
	right 0 
	bottom 0
	background-color alpha(gatelin, .8)
	color white
	text-align: center
	padding .5rem
	z-index: 300
	h2
		margin 0rem
		font-size: .9rem		
	span
		font-size: 1.1rem

.alignright
	display block
	margin-right auto
	margin-left auto

.alignleft
	display block
	margin-right auto
	margin-left auto

.aligncenter
	display block
	margin-right auto
	margin-left auto


.alignright, .alignright
	display block
	margin-right auto
	margin-left auto

.alignleft, a .alignleft
	display block
	margin-right auto
	margin-left auto

.aligncenter, a .aligncenter
	display block
	margin-right auto
	margin-left auto


.alignright, .alignright
	display block
	margin-right auto
	margin-left auto
	margin-bottom 1em

.alignleft, a .alignleft
	display block
	margin-right auto
	margin-left auto
	margin-bottom 1em

.aligncenter, a .aligncenter
	display block
	margin-right auto
	margin-left auto
	margin-bottom 1em	
	



@media (min-width: 600px)
	.alignright
		float right
		display: block

	.alignleft
		float left
		display: block

	.aligncenter
		display block
		margin-right auto
		margin-left auto


	.alignright, .alignright
		float right

	.alignleft, a .alignleft
		float left

	.aligncenter, a .aligncenter
		display block
		margin-right auto
		margin-left auto


	.alignright, .alignright
		float right
		margin-left 1em
		margin-bottom 1em

	.alignleft, a .alignleft
		float left
		margin-right 1em
		margin-bottom 1em

	.aligncenter, a .aligncenter
		display block
		margin-right auto
		margin-left auto
		margin-bottom 1em	
