.Index	
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&-article
		width: 47.5vw
		height 47.5vw
		overflow: hidden
		position: relative
		cursor: pointer
	img 
		width: 100%
	&-title
		position: absolute
		width: 100%
		bottom 0
		padding 1rem
		background-color  alpha(black, 0.7)
		// font-family: arial
		overflow: hidden
		height 25px
		z-index: 2
		color white
	&-excerpt
		// width:  100%
		background-color alpha(black, 0.8)
		color white
		font-size: 1rem
		font-family: Lato
		height: 100%
		padding-top 10vw
		// padding-right auto
		// right: 0
		// left 0
		text-align: center
		// padding 0
		position: absolute
		top 0
		overflow: hidden
		width 100%	
		display none

		span
			color gatelin
			font-size: 2rem
		// &_content
		// 	margin auto
		// 	padding-bottom 25px
		
		
		// height: 300px
		// overflow: hidden
		// position: relative
		// cursor: pointer
			



@media (min-width: 700px)
	.Index
		&-article
			width: 32.9vw
			height 32.9vw
		&-title
			font-size: 1.2rem
		&-excerpt
			padding-top 10vw
			font-size: 1.2rem
			span
				font-size: 3rem
		