.Products
	background-color white
	&-desserts				
		h1 
			margin-left 1rem
			margin-top 1rem
			margin-bottom 1rem
			font-weight: 300
			font-size 3rem
			width 36vw
			border-bottom 1px solid black	
	&-article
		display flex
		justify-content flex-start
		flex-wrap: wrap
		article			
			margin 1rem
			padding .5rem
			width 35vw
			border-bottom 1px solid #999
			background-color #fff
			h2
				color white
				background-color gatelin
				padding-left .5rem
	&-sidebar
		background-color #fff
		width 15vw
		padding 1rem
		position fixed
		right 0
		top 5rem
		
	
				