black = #010101
black-clear = #1d1d1d
white = #F2F2F2
// grey = #a3a3a3
grey = #737373
grey-clear = #b6b6b6
salmon = #9c4e4e
gatelin = #da1178
facebook = #3b5998
twitter = #00aced
google = #d34836
youtube = #e52d27


// @import "nib"	
// @import "general.styl"
@import "normalize.styl"
@import "header.styl"
@import "icon.styl"
@import "index.styl"
@import "image.styl"
@import "footer.styl"
@import "gustos.styl"
@import "products.styl"
@import "general.styl"
// @import "fonts.styl"
// @import "index.styl"
// @import "footer.styl"
// @import "single.styl"
@import "sidebar.styl"
// @import "recent-posts.styl"
// @import "logo.styl"
// @import "category.styl"


body
	background-color black-clear
	font-family: Lato
	overflow-x hidden

	