black = #010101
black-clear = #1d1d1d
// grey = #a3a3a3
grey = #737373
grey-clear = #b6b6b6
salmon = #9c4e4e
gatelin = #da1178


// @import "nib"	
// @import "general.styl"
@import "normalize.styl"
@import "header.styl"
@import "icon.styl"
// @import "fonts.styl"
// @import "index.styl"
// @import "footer.styl"
// @import "single.styl"
// @import "sidebar.styl"
// @import "recent-posts.styl"
// @import "logo.styl"
// @import "category.styl"


body
	background-color grey
	font-family: Lato
	overflow-x hidden

	